src/main/mule/cicd-jenkins-3am.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b3cfaf6d-1a90-4c38-876a-5a296594bc41" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-jenkins-3amFlow" doc:id="a02050d3-fc83-4a49-be0d-d1fb0543fbd2" >
		<http:listener doc:name="Listener" doc:id="67f778cb-b50d-46da-bce7-4388720076ef" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="9de99a96-c7a7-4d25-807b-e5fc52b0b983" message="Request-received"/>
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="409e9a59-a3e9-45f8-a20b-10c5c098e8d3" />
	</flow>
</mule>
